@font-face {
    font-family: "poppinsbold";
    src: url("Poppins-Bold.ttf");}
@font-face {
    font-family: "poppinsreg";
    src: url("Poppins-Regular.ttf");}

body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #40ce5e, #9cd789, #6bc8d9);
    min-height: 100vh;
    font-family: "poppinsreg";
    overflow-x: hidden;
}

.headerimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    max-width: 100%;
}
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    min-height: 100vh;
    grid-template-areas: "header header"
                         "content content"
                         "content2 content2"
                         "content3 content3"
                         "content4 content4"
                         "footer footer";
    box-sizing: border-box;
}
/* navigation bar */
.topnav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    overflow: visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:  #49c55b;  
    width: 100%;
    display: flex;               
    justify-content: center;
    flex-wrap: nowrap;   
    border-bottom: 4px solid #198f5a; 
    border-top: 4px solid #198f5a;
}

li:last-child {
    border-right: none;
}
li {
    float: left;
    border-right: 4px solid #198f5a;
    position: relative;
}
li a {
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
    font-family: "poppinsbold";
}

li a:hover {
    background-color: #2f9c48;
}

li.dropdown{
    display:inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #49c55b;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px grey;
}
.dropdown-content a{
    color: rgb(253, 255, 239);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: rgb(47, 162, 224);
    box-shadow: 5px ;
}
.dropdown:hover .dropdown-content{
    display: block;
}


/* content */
h1{
    color: #5d6a80  ;
    text-align: center;
    font-family: "poppinsbold";
}
h2{
    color: #4c70ae  ;
    font-family: "poppinsbold";
    text-align: center;
}

p.content{
    color: #212225 ;
    text-align: center;
}


div.content-wrapper{
    max-width:800px;
    width: 100%;
    padding: 20px 100px;
    height: auto;
    margin: 20px auto; 
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(8px 8px 13px #979191);
}

.tc-container{
    width: 600px;
    height:400px;
    margin-top: 40px;
    position:relative;
    text-align: center;
    margin: 0 auto 20px auto;
}
.tc-container img{
    border:3px solid #cbcdd067;
    box-shadow: 0px 8px 16px 0px rgb(161, 161, 161);
    border-radius: 15px;
    width:100%;
    height:100%;
    max-width: 600px;
    margin-right:30px;}
.top-img{
    position:absolute;
    left:0;
    top:0;
    opacity : 0;
    transition:all 0.5s ease;}
.top-img:hover{
    opacity:1;
    box-shadow: 0 0 25px#d6ffe2d4;
    border-radius: 15px;}

div.horizontal-line1 {
  border-bottom: 2px solid #93b3c8; 
  width: 700px;
  margin: 0 auto;
}

.containercard{
    display: flex;
    justify-content: center;
}
div.card{
    width: 270px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image{
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.car-1{
    background-image: url(banjir.jpg);
}
.car-2{
    background-image: url(coralbleach.jpg);
}
.car-3{
    background-image: url(gagalpanen.jpg);
}
.card h2{
    color: #24334d  ;
    font-family: "poppinsbold";
    padding: 10px;
}
.card p{
    padding: 10px;
}

.card a{
    background-color:#75d18b ;
    border-radius: 20px;
    color: #0e543f;
    text-decoration: none;
    font-family: "poppinsbold";
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
.card a:hover{
    background-color: #427866;
    color: #ffffff;
}
.card:hover{
    box-shadow: 0 0 15px#738570d4;
    background-color: rgb(244, 234, 219)
}

div.tan{
    padding: 10px;
    background-color: rgb(216, 235, 244);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.tan:hover{
    box-shadow: 0 10px 15px#706767d4;
    background-color: rgb(255, 255, 245);
    transition:all 0.5s ease;
}
h2.tantangan {
    color: #4c82ae  ;
    font-family: "poppinsbold";
    text-align: center;
    margin-bottom: 20px;
}
h3.tan{
    color: #6dacdf  ;
    font-family: "poppinsbold";
    margin-top: 20px;
    text-align: left;
}
p.content3{
    color: #212225 ;
    text-align: left;
    margin-top: 10px;
}
p.content4head{
    color: #4c70ae;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
p.content4{
    color: #5a637e ;
    text-align: center;
    margin-top: 10px;
}
/* footer */
.footerimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-top:30px; 
}