@font-face {
    font-family: "poppinsbold";
    src: url("Poppins-Bold.ttf");}
@font-face {
    font-family: "poppinsreg";
    src: url("Poppins-Regular.ttf");}

body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(135deg, #40ce5e, #9cd789, #6bc8d9);
    min-height: 100vh;
    font-family: "poppinsreg";
    overflow-x: hidden;
}

.headerimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    max-width: 100%;
}
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    min-height: 100vh;
    grid-template-areas: "header header"
                         "content content"
                         "content2 content2"
                         "content3 content3"
                         "footer footer";
    box-sizing: border-box;
}
/* navigation bar */
.topnav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    overflow: visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:  #49c55b;  
    width: 100%;
    display: flex;               
    justify-content: center;
    flex-wrap: nowrap;   
    border-bottom: 4px solid #198f5a; 
    border-top: 4px solid #198f5a;
}

li:last-child {
    border-right: none;
}
li {
    float: left;
    border-right: 4px solid #198f5a;
    position: relative;
}
li a {
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    color: white;
    font-family: "poppinsbold";
}

li a:hover {
    background-color: #2f9c48;
}

li.dropdown{
    display:inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #49c55b;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px grey;
}
.dropdown-content a{
    color: rgb(253, 255, 239);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: rgb(47, 162, 224);
    box-shadow: 5px ;
}
.dropdown:hover .dropdown-content{
    display: block;
}


/* content */
div.peran{
    background-color: rgb(249, 249, 220);
    border-radius: 15px;
    filter: drop-shadow(5px 5px 13px #979191);
    padding: 15px;
    margin-bottom: 10px;
}
h1{
    color: #5d6a80  ;
    text-align: center;
    font-family: "poppinsbold";
}
h3.peran{
    color: #2a62c4  ;
    font-family: "poppinsbold";
    text-align: left;
}
div.peran:hover{
    background-color: #ffffff;
    box-shadow: 0 0 15px #bebfc25c;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
p.content1{
    color: #212225 ;
    text-align: left;
}


div.content-wrapper{
    max-width:800px;
    width: 100%;
    padding: 20px 100px;
    height: auto;
    margin: 20px auto; 
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(8px 8px 13px #979191);
}

div.solusi{
    background-color: rgb(244, 252, 232);
    border-radius: 15px;
    filter: drop-shadow(5px 5px 8px #979191);
    padding: 15px;
    margin-bottom: 10px;
}
p.solusi1{
    color: #408944 ;
    text-align: left;
    font-weight: bold;
}
p.ajakan{
    color: #2778be ;
    background-color: #dfe9f7;
    border-radius:20px;
    padding: 5px;
    filter: drop-shadow(5px 5px 13px #c0c2c237);
    text-align: center;
    font-size: large;
    font-weight: bold;}

 /* footer */ 
.footerimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-top:30px; 
}